<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054868393593-l563vgfsrc8i72h2tvt81of0mn21dcrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054868393593-l563vgfsrc8i72h2tvt81of0mn21dcrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDsqQUOFTPIt380VRJg-bmleWHnaett15Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1054868393593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yilangwei.under.MyToolBox</string>
	<key>PROJECT_ID</key>
	<string>mytoolbox-fa3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>mytoolbox-fa3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054868393593:ios:2dd7c0906cd7efc4</string>
	<key>DATABASE_URL</key>
	<string>https://mytoolbox-fa3ff.firebaseio.com</string>
</dict>
</plist>